How to you:
- import pandas
- Read data from csv
- Export data to csv
- Create a dataframe
- Show key statistics summary
- Show DF with 1 column
- Show DF with multiple columns
- Filter to show for row where column = value
- Filter on more than one condition
- Sort by column a desc, then column 2 asc
- Group by columns with a sum aggregator
- Filter after group by
- Alter a given cell
- Alter a while column on condition
- Join two tables

In [1]:
import pandas as pd

In [ ]:
df = pd.read_csv('instrumentprices.csv')
stats = df.describe()
onecolumn = df[['instrumentsymbol']]
multiplecolumns = df[['instrumentsymbol','midprice']]
filterinstrument = df[df['instrumenttypename'] == 'FX Spot']
filtermulti = df[(df['tradedate'] >= '2025-11-01') & (df['tradedate'] <= '2025-11-05') & (df['instrumentsymbol'] == 'ZWFUSD')]
sorting = df.sort_values(['instrumenttypename', 'instrumentsymbol'], ascending = [True, False])
df.groupby('instrumentsymbol').agg(
    midprice_sum=('midprice', 'sum')
   ,bidprice_median=('bidprice', 'median')
   ,askprice_sum=('AskPrice', 'sum')
   ,date_count=('tradedate', 'count')
   ,mid_sd=('midprice', 'std')
   ,mid_max=('midprice', 'max')
)

,midprice_sum,bidprice_median,askprice_sum,datecount,midstd,midmax
instrumentsymbol,,,,,,
AUDCAD,289.420110,0.897220,289.74101,323,0.012072,0.922710
AUDCHF,172.611730,0.526300,172.93258,323,0.018615,0.574913
AUDCNH,1491.794751,4.639200,1493.21560,323,0.059345,4.749573
AUDDKK,1373.919773,4.206275,1375.88984,323,0.125485,4.543330
AUDHKD,0.000000,NaN,0.00000,323,NaN,NaN
...,...,...,...,...,...,...
ZCFUSD,145173.935625,438.500000,115049.78875,323,27.422471,515.200000
ZSFUSD,248814.134375,1034.375000,204618.83125,323,20.487499,1084.100000
ZWFUSD,176048.071875,539.000000,139142.59625,323,21.526570,618.650000
xxxHKD,0.000000,NaN,0.00000,323,NaN,NaN
yyyHKD,0.000000,NaN,0.00000,323,NaN,NaN