This code creates price variance to be used in a VaR model

In [33]:
import pandas as pd
import numpy as np

In [23]:
#Reading prices csv and adding to dataframek
df = pd.read_csv("nov_prices.csv")
#Sort the dataframe on instrument and date
df1 = df.sort_values(['instrument', 'date'])
df1

          date instrument       price
60  2025-11-01     eurusd     1.07741
61  2025-11-02     eurusd     1.07641
62  2025-11-03     eurusd     1.07046
63  2025-11-04     eurusd     1.06406
64  2025-11-05     eurusd     1.06838
..         ...        ...         ...
25  2025-11-26     xauusd  2303.08162
26  2025-11-27     xauusd  2289.82746
27  2025-11-28     xauusd  2294.12887
28  2025-11-29     xauusd  2287.23916
29  2025-11-30     xauusd  2283.90329

[150 rows x 3 columns]

In [24]:
df = df.sort_values(['instrument', 'date'])
df

          date instrument       price
60  2025-11-01     eurusd     1.07741
61  2025-11-02     eurusd     1.07641
62  2025-11-03     eurusd     1.07046
63  2025-11-04     eurusd     1.06406
64  2025-11-05     eurusd     1.06838
..         ...        ...         ...
25  2025-11-26     xauusd  2303.08162
26  2025-11-27     xauusd  2289.82746
27  2025-11-28     xauusd  2294.12887
28  2025-11-29     xauusd  2287.23916
29  2025-11-30     xauusd  2283.90329

[150 rows x 3 columns]

In [25]:
df['pct_change'] = df.groupby('instrument')['price'].pct_change() * 100
df

          date instrument       price  pct_change
60  2025-11-01     eurusd     1.07741         NaN
61  2025-11-02     eurusd     1.07641   -0.092815
62  2025-11-03     eurusd     1.07046   -0.552763
63  2025-11-04     eurusd     1.06406   -0.597874
64  2025-11-05     eurusd     1.06838    0.405992
..         ...        ...         ...         ...
25  2025-11-26     xauusd  2303.08162    0.055461
26  2025-11-27     xauusd  2289.82746   -0.575497
27  2025-11-28     xauusd  2294.12887    0.187849
28  2025-11-29     xauusd  2287.23916   -0.300319
29  2025-11-30     xauusd  2283.90329   -0.145847

[150 rows x 4 columns]

In [28]:
print(df.iloc[20:30])

          date instrument    price  pct_change
80  2025-11-21     eurusd  1.07512   -0.109635
81  2025-11-22     eurusd  1.07703    0.177655
82  2025-11-23     eurusd  1.08499    0.739069
83  2025-11-24     eurusd  1.08218   -0.258989
84  2025-11-25     eurusd  1.07781   -0.403815
85  2025-11-26     eurusd  1.07510   -0.251436
86  2025-11-27     eurusd  1.08002    0.457632
87  2025-11-28     eurusd  1.08180    0.164812
88  2025-11-29     eurusd  1.07893   -0.265299
89  2025-11-30     eurusd  1.08170    0.256736

In [ ]:
#This finds the values at 5th, 95th, and absolute 95th percentile.
stats = df.groupby('instrument')['pct_change'].agg(
    p05=lambda x: x.quantile(0.05),
    p95=lambda x: x.quantile(0.95),
    abs_p95=lambda x: x.abs().quantile(0.95)
)
print(stats)

                 p05       p95   abs_p95
instrument
eurusd     -0.835231  0.757405  0.038480
gbpusd     -0.824844  0.523659  0.068790
uk100      -0.745569  0.745540  0.066825
usdjpy     -0.722375  0.794399  0.014871
xauusd     -0.802425  0.750039  0.060930

In [34]:
#This find the confidence intervals assuming normal distribution

stats = df.groupby('instrument')['pct_change'].agg(['mean', 'std', 'count'])

z = 1.96

stats['ci_lower'] = stats['mean'] - z * stats['std'] / np.sqrt(stats['count'])
stats['ci_upper'] = stats['mean'] + z * stats['std'] / np.sqrt(stats['count'])

print(stats)

                mean       std  count  ci_lower  ci_upper
instrument
eurusd      0.014925  0.502549     29 -0.167984  0.197835
gbpusd     -0.052309  0.471596     29 -0.223953  0.119334
uk100      -0.062755  0.514140     29 -0.249883  0.124373
usdjpy     -0.012160  0.462333     29 -0.180432  0.156112
xauusd     -0.105881  0.453214     29 -0.270834  0.059072