This notebook follows learning Programming with Mosh. Learning from the following link https://www.youtube.com/watch?v=7eh4d6sabA0

Question recap
How to you:
- Read data from csv
- Export data to csv
- Create a dataframe
- Show key statistics summary
- Show DF with 1 column
- Show DF with multiple columns
- Filter to show for row where column = value
- Filter where column > value
- Join two tables
- Group by columns with a sum aggregator
- Filter after group by
- Sort
- Alter a given cell
- Alter a while column on condition

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('vgsales.csv')
df.shape #attribute

(16598, 11)

In [3]:
df.describe() #method

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,16598.000000,16327.000000,16598.000000,16598.000000,16598.000000,16598.000000,16598.000000
mean,8300.605254,2006.406443,0.264667,0.146652,0.077782,0.048063,0.537441
std,4791.853933,5.828981,0.816683,0.505351,0.309291,0.188588,1.555028
min,1.000000,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,4151.250000,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000
50%,8300.500000,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000
75%,12449.750000,2010.000000,0.240000,0.110000,0.040000,0.040000,0.470000
max,16600.000000,2020.000000,41.490000,29.020000,10.220000,10.570000,82.740000

In [4]:
df.values

array([[1, 'Wii Sports', 'Wii', ..., 3.77, 8.46, 82.74],
       [2, 'Super Mario Bros.', 'NES', ..., 6.81, 0.77, 40.24],
       [3, 'Mario Kart Wii', 'Wii', ..., 3.79, 3.31, 35.82],
       ...,
       [16598, 'SCORE International Baja 1000: The Official Game', 'PS2',
        ..., 0.0, 0.0, 0.01],
       [16599, 'Know How 2', 'DS', ..., 0.0, 0.0, 0.01],
       [16600, 'Spirits & Spells', 'GBA', ..., 0.0, 0.0, 0.01]],
      dtype=object)

In [5]:
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

Following Tech with Time video
https://www.youtube.com/watch?v=EXIgjIBu4EU

In [6]:
df = pd.read_csv('orders.csv') #from csv
# pd.read_excel('data.xlxs') from excel
# pd.DataFrame('data_dict') from another data dictionary
df.head()

,OrderID,CustomerName,Product,Category,Quantity,Price,OrderDate,Shipped,Country
0,1001,John Smith,Laptop,Electronics,1,1200.0,2024-06-01,Yes,USA
1,1002,Sarah Lee,Headphones,Electronics,2,150.0,2024-06-03,No,Canada
2,1003,Ali Khan,Office Chair,Furniture,1,300.0,2024-06-04,Yes,UAE
3,1004,Alice Wong,Desk Lamp,Furniture,3,45.0,2024-06-05,Yes,Singapore
4,1005,Carlos Mendez,Keyboard,Electronics,2,80.0,2024-06-06,No,Mexico

In [7]:
#df.tail() # Last 5 rows
#df.info() # general info
#df.describe() # Statistics
#df.columns # List columns

In [34]:
#Index column
#df["Country"] # Indexes by column name. We can wrap in "set" for unique value, "len" for count
df[["Country", "Product"]] # Two square brackets needed to show in 2d dataframe

         Country                Product
0            USA                 Laptop
1         CANADA             Headphones
2            UAE           Office Chair
3      SINGAPORE              Desk Lamp
4         MEXICO               Keyboard
5            UAE               Notebook
6             UK          Standing Desk
7    SOUTH KOREA                Monitor
8          ITALY                    Pen
9          JAPAN                  Mouse
10        FRANCE                 Webcam
11         INDIA           File Cabinet
12     AUSTRALIA                Stapler
13         SPAIN              USB Drive
14         CHINA              Bookshelf
15         EGYPT          Printer Paper
16        POLAND         Wireless Mouse
17           USA         Desk Organizer
18         JAPAN             Calculator
19  SAUDI ARABIA             Whiteboard
20        CANADA           Highlighters
21        BRAZIL      Bluetooth Speaker
22       GERMANY           Office Plant
23      PAKISTAN           Sticky Notes
24        SWEDEN           Tablet Stand
25        FRANCE         Paper Shredder
26     ARGENTINA         Desk Chair Mat
27        RUSSIA           Binder Clips
28   SOUTH KOREA      Wireless Keyboard
29         ITALY          Desk Calendar
30       MOROCCO                USB Hub
31       GERMANY       Document Scanner
32      COLOMBIA  Desk Drawer Organizer
33           USA            Index Cards
34         JAPAN          Monitor Stand
35            UK     Desk Lamp with USB
36      PORTUGAL       Wireless Earbuds
37          IRAN               Desk Pad
38   SOUTH KOREA            Power Strip
39       UKRAINE                Monitor

In [9]:
# Index on row. [row][column]

df.iloc[0]["Country"]

'USA'

Filtering

In [ ]:
#This filters the dataframe to show rows where quantity = 2
#df["Quantity"] == 2 This filters the row for boolean T/F
#df[df["Quantity"] == 2] #This then uses the above and decides whether to show that row
df.loc[df["Quantity"] == 2] # This uses label based indexer. Above is boolean.

,OrderID,CustomerName,Product,Category,Quantity,Price,OrderDate,Shipped,Country
1,1002,Sarah Lee,Headphones,Electronics,2,150.0,2024-06-03,No,CANADA
4,1005,Carlos Mendez,Keyboard,Electronics,2,80.0,2024-06-06,No,MEXICO
7,1008,James Park,Monitor,Electronics,2,220.0,2024-06-09,No,SOUTH KOREA
11,1012,Raj Patel,File Cabinet,Furniture,2,180.0,2024-06-13,No,INDIA
16,1017,Anna Kowalski,Wireless Mouse,Electronics,2,45.0,2024-06-18,Yes,POLAND
22,1023,Oliver Schmidt,Office Plant,Furniture,2,35.0,2024-06-24,Yes,GERMANY
38,1039,Daniel Kim,Power Strip,Electronics,2,18.0,2024-07-10,No,SOUTH KOREA

In [11]:
#This filters the dataframe on two rows
df[(df["Category"] == "Electronics") & (df["Country"] == "USA")] # This filters for Electronics AND USA

# & is and, | is or

,OrderID,CustomerName,Product,Category,Quantity,Price,OrderDate,Shipped,Country
0,1001,John Smith,Laptop,Electronics,1,1200.0,2024-06-01,Yes,USA

In [14]:
#String filters. also endswith
#df[df["CustomerName"].str.startswith("A")]

# isin. ~ before the wrapped df (2nd df) will show those not in. 
df[~df["Country"].isin(["USA", "Sweden", "Brazil"])]

,OrderID,CustomerName,Product,Category,Quantity,Price,OrderDate,Shipped,Country
1,1002,Sarah Lee,Headphones,Electronics,2,150.0,2024-06-03,No,Canada
2,1003,Ali Khan,Office Chair,Furniture,1,300.0,2024-06-04,Yes,UAE
3,1004,Alice Wong,Desk Lamp,Furniture,3,45.0,2024-06-05,Yes,Singapore
4,1005,Carlos Mendez,Keyboard,Electronics,2,80.0,2024-06-06,No,Mexico
5,1006,Nora Ibrahim,Notebook,Stationery,5,5.0,2024-06-07,Yes,UAE
6,1007,Emily Davis,Standing Desk,Furniture,1,450.0,2024-06-08,Yes,UK
7,1008,James Park,Monitor,Electronics,2,220.0,2024-06-09,No,South Korea
8,1009,Maria Rossi,Pen,Stationery,10,1.5,2024-06-10,Yes,Italy
9,1010,Takeshi Nakamura,Mouse,Electronics,1,35.0,2024-06-11,Yes,Japan
10,1011,Sophie Martin,Webcam,Electronics,1,85.0,2024-06-12,Yes,France
11,1012,Raj Patel,File Cabinet,Furniture,2,180.0,2024-06-13,No,India
12,1013,Emma Wilson,Stapler,Stationery,3,12.0,2024-06-14,Yes,Australia
13,1014,Diego Rodriguez,USB Drive,Electronics,5,25.0,2024-06-15,Yes,Spain
14,1015,Lisa Chen,Bookshelf,Furniture,1,280.0,2024-06-16,No,China
15,1016,Ahmed Hassan,Printer Paper,Stationery,20,8.0,2024-06-17,Yes,Egypt
16,1017,Anna Kowalski,Wireless Mouse,Electronics,2,45.0,2024-06-18,Yes,Poland
18,1019,Yuki Tanaka,Calculator,Electronics,1,15.0,2024-06-20,Yes,Japan
19,1020,Fatima Al-Zahra,Whiteboard,Furniture,1,120.0,2024-06-21,Yes,Saudi Arabia
20,1021,David Thompson,Highlighters,Stationery,8,3.5,2024-06-22,No,Canada
22,1023,Oliver Schmidt,Office Plant,Furniture,2,35.0,2024-06-24,Yes,Germany
23,1024,Zara Ahmed,Sticky Notes,Stationery,15,4.0,2024-06-25,No,Pakistan
25,1026,Chloe Dubois,Paper Shredder,Electronics,1,75.0,2024-06-27,Yes,France
26,1027,Miguel Torres,Desk Chair Mat,Furniture,1,22.0,2024-06-28,No,Argentina
27,1028,Nina Petrov,Binder Clips,Stationery,12,2.5,2024-06-29,Yes,Russia
28,1029,Seo-yeon Kim,Wireless Keyboard,Electronics,1,110.0,2024-06-30,Yes,South Korea
29,1030,Giuseppe Romano,Desk Calendar,Furniture,1,18.0,2024-07-01,No,Italy
30,1031,Amira Hassan,USB Hub,Electronics,1,32.0,2024-07-02,Yes,Morocco
31,1032,Thomas MÃ¼ller,Document Scanner,Electronics,1,140.0,2024-07-03,Yes,Germany
32,1033,Sofia Rodriguez,Desk Drawer Organizer,Furniture,1,42.0,2024-07-04,No,Colombia
34,1035,Yuki Yamamoto,Monitor Stand,Electronics,1,55.0,2024-07-06,Yes,Japan
35,1036,Emma Thompson,Desk Lamp with USB,Furniture,1,68.0,2024-07-07,No,UK
36,1037,Carlos Santos,Wireless Earbuds,Electronics,1,125.0,2024-07-08,Yes,Portugal
37,1038,Leila Mansouri,Desk Pad,Furniture,1,28.0,2024-07-09,Yes,Iran
38,1039,Daniel Kim,Power Strip,Electronics,2,18.0,2024-07-10,No,South Korea
39,1040,Anna Ivanova,Desk Clock,Furniture,1,35.0,2024-07-11,Yes,Ukraine

In [ ]:
# Update a row

df.loc[df["CustomerName"] == "Anna Ivanova", "Product"] = "Monitor" # Find the row where Customername = ... Then make product "Monitor"
df.loc[df["CustomerName"] == "Anna Ivanova"]

In [25]:
# To change a column
df["Country"] = df["Country"].str.upper()
df["Country"]

0              USA
1           CANADA
2              UAE
3        SINGAPORE
4           MEXICO
5              UAE
6               UK
7      SOUTH KOREA
8            ITALY
9            JAPAN
10          FRANCE
11           INDIA
12       AUSTRALIA
13           SPAIN
14           CHINA
15           EGYPT
16          POLAND
17             USA
18           JAPAN
19    SAUDI ARABIA
20          CANADA
21          BRAZIL
22         GERMANY
23        PAKISTAN
24          SWEDEN
25          FRANCE
26       ARGENTINA
27          RUSSIA
28     SOUTH KOREA
29           ITALY
30         MOROCCO
31         GERMANY
32        COLOMBIA
33             USA
34           JAPAN
35              UK
36        PORTUGAL
37            IRAN
38     SOUTH KOREA
39         UKRAINE
Name: Country, dtype: object

In [ ]:
df = df.drop(39) # drop row 39
df.dropna() # Return a Dataframe with drop rows with NA's
df.fillna({"OrderID": 0}, inplace=True) # Modify NA's in OrderID to 0

0              USA
1           CANADA
2              UAE
3        SINGAPORE
4           MEXICO
5              UAE
6               UK
7      SOUTH KOREA
8            ITALY
9            JAPAN
10          FRANCE
11           INDIA
12       AUSTRALIA
13           SPAIN
14           CHINA
15           EGYPT
16          POLAND
17             USA
18           JAPAN
19    SAUDI ARABIA
20          CANADA
21          BRAZIL
22         GERMANY
23        PAKISTAN
24          SWEDEN
25          FRANCE
26       ARGENTINA
27          RUSSIA
28     SOUTH KOREA
29           ITALY
30         MOROCCO
31         GERMANY
32        COLOMBIA
33             USA
34           JAPAN
35              UK
36        PORTUGAL
37            IRAN
38     SOUTH KOREA
39         UKRAINE
Name: Country, dtype: object

In [ ]:
#df["Country"].value_counts() #Count of distinct values
df.groupby("Country")["Price"].sum()
df.sort_value("Price", ascending=False)

Country
ARGENTINA         22.0
AUSTRALIA         12.0
BRAZIL            95.0
CANADA           153.5
CHINA            280.0
COLOMBIA          42.0
EGYPT              8.0
FRANCE           160.0
GERMANY          175.0
INDIA            180.0
IRAN              28.0
ITALY             19.5
JAPAN            105.0
MEXICO            80.0
MOROCCO           32.0
PAKISTAN           4.0
POLAND            45.0
PORTUGAL         125.0
RUSSIA             2.5
SAUDI ARABIA     120.0
SINGAPORE         45.0
SOUTH KOREA      348.0
SPAIN             25.0
SWEDEN            28.0
UAE              305.0
UK               518.0
UKRAINE           35.0
USA             1265.8
Name: Price, dtype: float64

In [ ]:
df.to_csv("new_file.csv", index=False)