Test revision questions. How do you:
- Import module pandas
- Read data from csv into dataframe
- Export data to csv
- Show key statistics summary
- Show DF with a select multiple columns
- Filter to show for rows on two conditions
- Sort by column1 a desc and column2 asc
- Group on 2 columns with a sum and count aggregator
- Alter a given cell
- Alter a while column on condition
- Rename a column
- Join two tables
- Count rows

In [4]:
import pandas as pd

Understanding data

| Method          | What it does                      | Example                                      |
| --------------- | ----------------------------------| -------------------------------------------- |
| `pd.read_csv()` | Import CSV to DataFrame           | `df = pd.read_csv('data/prices.csv')`        |
| `df.to_csv()`   | Export DataFrame to CSV           | `df.to_csv('output/final.csv', index=False)` |
| `df.describe()` | Stats summary                     | `df.describe()`                              |

Selection and filtering
| Method                 | What it does                           | Example                                                           |
| ---------------------- | -------------------------------------- | ----------------------------------------------------------------- |
| Select columns         | Select columns                         | `df[['tradedate','instrumentsymbol','midprice']]`                 |
| `df.loc[condition]`    | Filter rows                            | `df.loc[df['qty'] > 10]`                                          |
| Multi-condition filter | Filter multiple conditions with `&`    | `df[(df['assetclass']=='FX') & (df['midprice']>1.2)]`             |
| `df.loc[rows, cols]`   | Filter rows **and** specific columns   | `df.loc[df['assetclass']=='FX', ['instrumentsymbol','midprice']]` |
| `df.iloc[...]`         | Select by **integer position**         | `df.iloc[0:5, 1:3]`                                               |

Transforming column & structure
| Method                    | What it does                            | Example                                                       |
| ------------------------- | --------------------------------------- | ------------------------------------------------------------- |
| New column via assignment | Create / overwrite a column             | `df['midprice'] = (df['bidprice'] / 2`                        |
| `df.assign()`             | Add new column                          | `df = df.assign(newcol='123')`                                |
| `df.rename()`             | Rename columns or index                 | `df.rename(columns={'instrumenttypename':'instrument_type'})` |
| `df.drop(columns=...)`    | Remove one or more columns              | `df.drop(columns=['temp'])`                                   |

Grouping & aggregation
| Method                  | What it does                      | Example                                                                         |
| ----------------------- | --------------------------------- | --------------------------------------------------------------------------------|
| `df.groupby().agg()`    | Group by key(s) and aggregate     | `df.groupby(['col1','col2']).agg(mean3=('col3','mean'),count4=('col4,'count')`  |
| `df.sort_values()`      | Sort rows                         | `df.sort_values(by = ['tradedate','midprice'], ascending = [False, True])`      |
| `df.shape[0]`           | Row count (1 for column)          | `df.shape[0]`all  or  `df['col].count()` non-nulls                              |
| `Series.value_counts()` | Count of each distinct value      | `df['assetclass'].value_counts()`                                               |
| `df.merge()`            | SQL-style join on keys            | `df.merge(table1, how='left', left_on='col_left', right_on='col_right')`        |
| `pd.concat()`           | Stack DF vertically/horizontally  | `pd.concat([df1, df2], axis=0)`                                                 |


Cleaning & data types
| Method                        | What it does                          | Example                                             |
| ----------------------------- | ------------------------------------- | ----------------------------------------------------|
| String ops (`.str[...]`)      | Vectorised string manipulation        | `df['instrumentsymbol'].str[-3:]`                   |
| `df.dropna()` / `df.fillna()` | Handle missing values (remove / fill) | `df.dropna(subset=['midprice']); df.fillna(0)`      |
| `df.astype()`                 | Change data types                     | `df['qty'] = df['qty'].astype('int64')`             |
| `pd.to_datetime()`            | Convert to datetime                   | `df['tradedate'] = pd.to_datetime(df['tradedate'])` |

In [ ]:
df = pd.read_csv('instrumentprices.csv')
stats = df.describe()
#Selecting columns
onecolumn = df[['instrumentsymbol']]
multiplecolumns = df[['instrumentsymbol','midprice']]
#filtering rows
filterinstrument = df[df['instrumenttypename'] == 'FX Spot']
filtermulti = df[(df['tradedate'] >= '2025-11-01') & (df['tradedate'] <= '2025-11-05') & (df['instrumentsymbol'] == 'ZWFUSD')]
#Sorting
sorting = df.sort_values(['instrumenttypename', 'instrumentsymbol'], ascending = [True, False])
#Grouping
grouped = df.groupby('instrumentsymbol').agg(
    midprice_sum=('midprice', 'sum')
   ,bidprice_median=('bidprice', 'median')
   ,askprice_sum=('AskPrice', 'sum')
   ,date_count=('tradedate', 'count')
   ,mid_sd=('midprice', 'std')
   ,mid_max=('midprice', 'max')
)
having = grouped[grouped['date_count'] <= 323] #Filters - after grouping
#Altering values
alter = df.copy() # Duplicate current table
alter.loc[alter['instrumenttypename'] == 'FX Spot', 'instrumenttypename'] = 'FXSpot' #Find where column = value, the nreplace to new value

df['abc'] = 2
df

,tradedate,instrumentsymbol,instrumentname,bidprice,AskPrice,midprice,assetclass,instrumenttypename,instrumentsubtypename,underlyingisin,abc
0,2025-01-01,AUDCAD,AUDCAD,0.88565,0.89180,0.890065,CU,FX Spot,FXSpot,NaN,2
1,2025-01-01,AUDCHF,AUDCHF,0.56016,0.56201,0.560950,CU,FX Spot,FXSpot,NaN,2
2,2025-01-01,AUDCNH,AUDCNH,4.52940,4.54560,4.535691,CU,FX Spot,FXSpot,NaN,2
3,2025-01-01,AUDDKK,AUDDKK,4.45647,4.45954,4.453955,CU,FX Spot,FXSpot,NaN,2
4,2025-01-01,AUDHKD,AUDHKD,NaN,NaN,NaN,CU,FX Spot,FXSpot,NaN,2
...,...,...,...,...,...,...,...,...,...,...,...
63114,2025-11-19,ZCFUSD,Corn / USD,NaN,NaN,NaN,NaN,FX Spot,FXSoft,NaN,2
63115,2025-11-19,ZSFUSD,Soybean / USD,NaN,NaN,NaN,NaN,FX Spot,FXSoft,NaN,2
63116,2025-11-19,ZWFUSD,Wheat / USD,NaN,NaN,NaN,NaN,FX Spot,FXSoft,NaN,2
63117,2025-11-19,xxxHKD,to be deleted,NaN,NaN,NaN,NaN,FX Spot,FXMetal,NaN,2
63118,2025-11-19,yyyHKD,To be deleted (1),NaN,NaN,NaN,NaN,FX Spot,FXMetal,NaN,2

In [ ]:
#.loc   This is label based selecting

#Select rows
row = df.loc[1]
rows = df.loc[12:14]


#Select cells
row_slice = df.loc[[12,14]] # This selects row at position 12 and 14
cells = df.loc[[10, 11], ['tradedate', 'assetclass']]  # This multiple cells. Imagine selecting the X and Y


#Select column and filter
columnfilter = df.loc[df['instrumentsymbol'] == 'EURUSD', ['midprice']]
columnfilter2 = df.loc[df.midprice > 1.1, ['instrumentsymbol', 'midprice']]

tradedate                2025-01-01
instrumentsymbol             AUDCHF
instrumentname               AUDCHF
bidprice                    0.56016
AskPrice                    0.56201
midprice                    0.56095
assetclass                       CU
instrumenttypename          FX Spot
instrumentsubtypename        FXSpot
underlyingisin                  NaN
Name: 1, dtype: object

| Task                     | `.loc` Pattern                        |
| ------------------------ | ------------------------------------- |
| Select rows + columns    | `df.loc[row_labels, col_labels]`      |
| Boolean filter + select  | `df.loc[condition, cols]`             |
| Update values            | `df.loc[condition, col] = value`      |
| Update multiple columns  | `df.loc[cond, [col1,col2]] = [v1,v2]` |
| Add or overwrite rows    | `df.loc[new_label] = [...]`           |
| Multi-condition          | `df.loc[(cond1)&(cond2), col]`        |
| Dynamic column selection | `df.loc[:, list_of_cols]`             |
| Use functions            | `df.loc[cond, col] = f(series)`       |

In [7]:
#.iloc  This is integer based selecting/location
df.iloc[1]

tradedate                2025-01-01
instrumentsymbol             AUDCHF
instrumentname               AUDCHF
bidprice                    0.56016
AskPrice                    0.56201
midprice                    0.56095
assetclass                       CU
instrumenttypename          FX Spot
instrumentsubtypename        FXSpot
underlyingisin                  NaN
Name: 1, dtype: object

In [ ]:
# Practicing joins
ccy = df.groupby(['instrumentsymbol','assetclass']).agg(
    inst=('instrumenttypename', 'max')
)

# right 3 chars
ccy['QuoteCcy'] = ccy.index.get_level_values('instrumentsymbol').str[-3:]
# left 3 chars
ccy['BaseCcy'] = ccy.index.get_level_values('instrumentsymbol').str[:3]

merged = df.merge(ccy, how = 'left', left_on = 'instrumentsymbol', right_on = 'instrumentsymbol')
final = merged[['tradedate'
            ,'instrumentsymbol'
            ,'midprice'
            ,'assetclass'
            ,'instrumenttypename'
            ,'QuoteCcy'
            ,'BaseCcy'
]]
final

,tradedate,instrumentsymbol,midprice,assetclass,instrumenttypename,QuoteCcy,BaseCcy
0,2025-01-01,AUDCAD,0.890065,CU,FX Spot,CAD,AUD
1,2025-01-01,AUDCHF,0.560950,CU,FX Spot,CHF,AUD
2,2025-01-01,AUDCNH,4.535691,CU,FX Spot,CNH,AUD
3,2025-01-01,AUDDKK,4.453955,CU,FX Spot,DKK,AUD
4,2025-01-01,AUDHKD,NaN,CU,FX Spot,HKD,AUD
...,...,...,...,...,...,...,...
63114,2025-11-19,ZCFUSD,NaN,NaN,FX Spot,NaN,NaN
63115,2025-11-19,ZSFUSD,NaN,NaN,FX Spot,NaN,NaN
63116,2025-11-19,ZWFUSD,NaN,NaN,FX Spot,NaN,NaN
63117,2025-11-19,xxxHKD,NaN,NaN,FX Spot,NaN,NaN
63118,2025-11-19,yyyHKD,NaN,NaN,FX Spot,NaN,NaN

In [35]:
grouped = df.groupby(['instrumentsymbol']).agg(
           topprice = ('midprice', 'max'),
           count = ( 'tradedate' , 'count')
           )
grouped.sort_values(
    by = ['count', 'topprice']
    ,ascending = [False, True]
    )

                       topprice  count
instrumentsymbol
BWPUSD                 0.075400    323
NZDCHF                 0.517647    323
AUDCHF                 0.574913    323
NZDUSD                 0.609915    323
CADCHF                 0.639142    323
...                         ...    ...
xxxHKD                      NaN    323
yyyHKD                      NaN    323
XAUCHF              3452.011300    182
KAUUSD            140056.200000    155
GAUJPY             21112.915310    120

[197 rows x 2 columns]

In [ ]:
df

,tradedate,instrumentsymbol,instrumentname,bidprice,AskPrice,midprice,assetclass,instrumenttypename,instrumentsubtypename,underlyingisin
0,2025-01-01,AUDCAD,AUDCAD,0.88565,0.89180,0.890065,CU,FX Spot,FXSpot,NaN
1,2025-01-01,AUDCHF,AUDCHF,0.56016,0.56201,0.560950,CU,FX Spot,FXSpot,NaN
2,2025-01-01,AUDCNH,AUDCNH,4.52940,4.54560,4.535691,CU,FX Spot,FXSpot,NaN
3,2025-01-01,AUDDKK,AUDDKK,4.45647,4.45954,4.453955,CU,FX Spot,FXSpot,NaN
4,2025-01-01,AUDHKD,AUDHKD,NaN,NaN,NaN,CU,FX Spot,FXSpot,NaN
...,...,...,...,...,...,...,...,...,...,...
63114,2025-11-19,ZCFUSD,Corn / USD,NaN,NaN,NaN,NaN,FX Spot,FXSoft,NaN
63115,2025-11-19,ZSFUSD,Soybean / USD,NaN,NaN,NaN,NaN,FX Spot,FXSoft,NaN
63116,2025-11-19,ZWFUSD,Wheat / USD,NaN,NaN,NaN,NaN,FX Spot,FXSoft,NaN
63117,2025-11-19,xxxHKD,to be deleted,NaN,NaN,NaN,NaN,FX Spot,FXMetal,NaN
63118,2025-11-19,yyyHKD,To be deleted (1),NaN,NaN,NaN,NaN,FX Spot,FXMetal,NaN

In [ ]:
df1 = df[['tradedate','instrumentsymbol','midprice']]
df2 = df1[df1['midprice'].notna()]
df2.to_csv("instrument_data.csv", index=False)